{% extends "base.html" %}
{% block titulo %} Tienda – uoMusic {% endblock %}
{% block contenido_principal %}

<h2>Autores</h2>
<div class="row">
    <!-- http://librosweb.es/libro/bootstrap_3/capitulo_2/tipos_de_rejillas.html -->
    <!-- Inicio del Bloque canción -->
    {% for autor in autores %}
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <div style="width: 200px">
            <a href="/cancion/id"> <img src="img/cancion1.png" alt="logo" />
                <!-- http://www.socicon.com/generator.php -->
                <div class="wrap">{{ autor.nombre }}</div>
                <div class="small">Autor</div>
                <div class="wrap">{{ autor.grupo }} €</div>
                <div class="small">Grupo</div>
                <div class="wrap">{{ autor.rol }}</div>
                <div class="small">Rol</div>
            </a>
        </div>
    </div>
    {% endfor %}
    <!-- Fin del Bloque canción -->
</div>

{% endblock %}